<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>name</key>
	<string>Rsense</string>
	<key>uuid</key>
	<string>79985F89-1AEF-4C53-AF29-5E884CEFC8B4</string>
</dict>
</plist>
